<a href="https://colab.research.google.com/github/KozakMichal7/Machine-Learning-Python/blob/master/Nadzorowane/01_Podstawy/03_Ekstrakcja_cech.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install scikit-learn

import numpy as np
import pandas as pd
import sklearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.21.6)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.7.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.2.0)

In [8]:
def fetch_financial_data(company="AMZN"):
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

df_raw = fetch_financial_data()
print(df_raw.shape[0])
df_raw.head()

1257

             Open   High     Low  Close    Volume
Date
2022-11-25  93.79  94.43  93.065  93.41  35088609
2022-11-23  93.24  94.58  92.830  94.13  59414684
2022-11-22  92.62  93.35  90.870  93.20  62191962
2022-11-21  93.97  95.02  90.590  92.46  84330270
2022-11-18  95.95  95.99  92.480  94.14  72428185

In [9]:
df = df_raw.copy()
df = df[:5]
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5 entries, 2022-11-25 to 2022-11-18
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    5 non-null      float64
 1   High    5 non-null      float64
 2   Low     5 non-null      float64
 3   Close   5 non-null      float64
 4   Volume  5 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 240.0 bytes

In [11]:
df['day']=df.index.day
df['month']=df.index.month
df['year']=df.index.year
df

             Open   High     Low  Close    Volume  day  month  year
Date
2022-11-25  93.79  94.43  93.065  93.41  35088609   25     11  2022
2022-11-23  93.24  94.58  92.830  94.13  59414684   23     11  2022
2022-11-22  92.62  93.35  90.870  93.20  62191962   22     11  2022
2022-11-21  93.97  95.02  90.590  92.46  84330270   21     11  2022
2022-11-18  95.95  95.99  92.480  94.14  72428185   18     11  2022

# Dyskretyzacja zmiennej ciągłej

In [12]:
df = pd.DataFrame(data={'height': [175., 178.5, 185., 191., 184.5, 183., 168.]})
df

   height
0   175.0
1   178.5
2   185.0
3   191.0
4   184.5
5   183.0
6   168.0

In [14]:
df['height_cat'] = pd.cut(x=df.height, bins=3)
df

   height          height_cat
0   175.0  (167.977, 175.667]
1   178.5  (175.667, 183.333]
2   185.0    (183.333, 191.0]
3   191.0    (183.333, 191.0]
4   184.5    (183.333, 191.0]
5   183.0  (175.667, 183.333]
6   168.0  (167.977, 175.667]

In [16]:
df['height_cat'] = pd.cut(x=df.height, bins=(160, 175, 180, 195), labels=['small', 'medium', 'high'])
df

   height height_cat
0   175.0      small
1   178.5     medium
2   185.0       high
3   191.0       high
4   184.5       high
5   183.0       high
6   168.0      small

In [20]:
pd.get_dummies(df, drop_first=True, prefix='height')

   height  height_medium  height_high
0   175.0              0            0
1   178.5              1            0
2   185.0              0            1
3   191.0              0            1
4   184.5              0            1
5   183.0              0            1
6   168.0              0            0

In [22]:
df = pd.DataFrame(data={'lang': [['PL', 'ENG'], ['GER', 'ENG', 'PL', 'FRA'], ['RUS']]})
df['lang_number'] = df['lang'].apply(len)
df

                  lang  lang_number
0            [PL, ENG]            2
1  [GER, ENG, PL, FRA]            4
2                [RUS]            1

In [24]:
df['PL_flag'] = df['lang'].apply(lambda x: 1 if 'PL' in x else 0)
df

                  lang  lang_number  PL_flag
0            [PL, ENG]            2        1
1  [GER, ENG, PL, FRA]            4        1
2                [RUS]            1        0

In [33]:
df = pd.DataFrame(data={'website': ['wp.pl', 'onet.pl', 'google.com']})
new = df.website.str.split('.', expand=True)
new

        0    1
0      wp   pl
1    onet   pl
2  google  com

In [34]:
df['portal']=new[0]
df['extension']=new[1]
df

      website  portal extension
0       wp.pl      wp        pl
1     onet.pl    onet        pl
2  google.com  google       com